:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  font-family: 'Outfit';
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  max-width: 100%;
  border-radius: 1rem;
}

.card__title {
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.5rem 0 1.15rem;
}

.card__para {
  text-align: center;
  color: var(--gray-blue);
  font-weight: 400;
  margin: 0 1rem 1.15rem;
}

.footer { 
  font-size: 0.75rem; 
  text-align: center;
  padding: 0 3rem; 
}

.footer__link { 
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700;
  transition: 1s;
}

.footer__link:hover {
  color: goldenrod;
}

@media screen and (min-width: 768px) {
  .card{
    width: 25%;
  }

  .card__title {
    font-size: 1.75rem;
  }

  .card__para {
    font-size: 1.25rem;
  }

  .footer {
    font-size: 1.25rem;
  }
}
